$yellow: #ffd370;
$black: #333333;
$gray: #9f9a91;

@font-face {
    font-family: "BalooTamma2";
    src: url("../fonts/BalooTamma2-Bold.ttf") format("opentype");
}
@font-face {
    font-family: "NotoSansCJKtc";
    src: url("../fonts/NotoSansCJKtc-Regular.otf") format("opentype");
}